@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto+Slab:wght@100;200;400;500;600;700;800;900&display=swap");

.App {
  text-align: center;
}

.h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  margin: auto;
  text-align: center;
  margin: 3% auto;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  /* margin: 20px auto; */
  margin: 20px 5px;
  width: 300px;
  height: auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  padding: 0px 10px;
  text-align: left;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
}

.h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 20px;
  font-weight: bold;
}

.s1 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 15px;
}

.s2 {
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  font-size: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 1180px) {
  .cards-list {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .cards-list {
    justify-content: center;
  }
}
